In [45]:
import os
import re
import pandas as pd
import spacy
from spacy import displacy
from segtok.segmenter import split_single
from flair.models import SequenceTagger
from flair.data import Sentence

tagger = SequenceTagger.load('ner')
nlp = spacy.load('en')
pd.set_option('chained_assignment', None)

2019-01-05 16:53:23,749 https://s3.eu-central-1.amazonaws.com/alan-nlp/resources/models-v0.2/NER-conll03--h256-l1-b32-%2Bglove%2Bnews-forward%2Bnews-backward--v0.2/en-ner-conll03-v0.2.pt not found in cache, downloading to /var/folders/t_/yybm5d0s0bd_n0z_plt22cpr0000gn/T/tmpbsbo2eqe

100%|██████████| 432921440/432921440 [01:30<00:00, 4787075.00B/s]

2019-01-05 16:54:55,026 copying /var/folders/t_/yybm5d0s0bd_n0z_plt22cpr0000gn/T/tmpbsbo2eqe to cache at /Users/audreyholmes/.flair/models/en-ner-conll03-v0.2.pt

2019-01-05 16:54:55,336 removing temp file /var/folders/t_/yybm5d0s0bd_n0z_plt22cpr0000gn/T/tmpbsbo2eqe

In [51]:
data_dir = 'mitford-letters'
clean_text_dir = '../mitford_letters_clean'
gold_standard_dir = '../mitford_letters_gs'
spacy_dir = '../spacy_mitford'
flair_dir = '../flair_mitford'
letters = os.listdir(clean_text_dir)

In [75]:
for letter in letters[0:1]:
    with open(os.path.join(clean_text_dir, letter), 'r') as f:
        text = f.read()
        
    sentences = [Sentence(sent, use_tokenizer=True) for sent in split_single(text)]
    SequenceTagger = SequenceTagger.load('ner')
    tagger.predict(sentences)
    text = []
    tags = []
    begin_offsets = []
    end_offsets = []
    offset = 0
    for s in sentences:
        for e in s.get_spans('ner'):
            if e.tag in ['PER', 'LOC']:
                tags.append(e.tag)
                text.append(e.text)
                begin_offsets.append(e.start_pos + offset)
                end_offsets.append(e.end_pos + offset)
        offset += len(s.to_original_text())

    flair_df = pd.DataFrame({'tag': tags,
                            'begin_offsets': begin_offsets,
                            'end_offset': end_offsets,
                            'text': text})
    flair_df['tag'].loc[flair_df['tag'] == 'LOC'] = 'place'
    flair_df['tag'].loc[flair_df['tag'] == 'PER'] = 'person'
    flair_df.sort_values(by=['begin_offsets'], inplace=True)
    flair_df.to_csv(os.path.join(flair_dir, letter), index=False)
    flair_df

11

In [43]:
for letter in letters:
    with open(os.path.join(clean_text_dir, letter), 'r') as f:
        text = f.read()
    
    text = text.strip()
    doc = nlp(text)
    ents = doc.ents
    ents = [(e.text, e.start_char, e.end_char, e.label_) for e in doc.ents if e.label_ in ['PERSON', 'GPE']]
    
    tags = []
    begin_offsets = []
    end_offsets = []
    text = []
    for e in ents:
        text.append(e[0])
        tags.append(e[-1])
        begin_offsets.append(e[1])
        end_offsets.append(e[2])
        
    spacy_df = pd.DataFrame({'tag': tags,
                            'begin_offsets': begin_offsets,
                            'end_offset': end_offsets,
                            'text': text})
    spacy_df['tag'].loc[spacy_df['tag'] == 'GPE'] = 'place'
    spacy_df['tag'].loc[spacy_df['tag'] == 'PERSON'] = 'person'
    spacy_df.to_csv(os.path.join(spacy_dir, letter), index=False)

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [58]:
gs = pd.read_csv(os.path.join(gold_standard_dir, letter))
gs.sort_values(by=['begin_offset'], inplace=True)
gs

       tag  begin_offset  end_offset           text              ref
0    place            13          26  Seymour Court       #SeymourCt
1    place            32          38         Marlow          #Marlow
2   person           115         125     John Keats           #Keats
3   person           435         445     John Keats           #Keats
4   person           569         580    Mr. Johnson      #Johnson_Mr
5   person           639         645         Sister    #Johnson_Miss
6   person           736         747    Mr. Johnson      #Johnson_Mr
7   person           747         758    Mr. Johnson      #Johnson_Mr
8   person           876         889  Mr. Northmore  #Northmore_Thos
9   person          1656        1669  Mr. Northmore  #Northmore_Thos
10  person          1675        1686    Mr. Johnson      #Johnson_Mr
11   place          1829        1836        Bristol         #Bristol
12   place          2029        2035         Marlow          #Marlow
13   place          2147        2153         Marlow          #Marlow
14   place          2242        2248         Marlow          #Marlow
15   place          2285        2291         Thames          #Thames
16   place          2403        2415   Bisham Abbey    #Bisham_Abbey
17  person          2753        2763     Miss James      #James_Miss
18   place          2803        2809         London     #London_city
19  person          3077        3084        Baldwin       #Baldwin_R
20  person          3235        3247   Mr. Talfourd   #Talfourd_Thos
21  person          3516        3523        Baldwin       #Baldwin_R
22  person          3536        3547    Mr. Baldwin       #Baldwin_R
23  person          3847        3857     Mr. Haydon          #Haydon
24  person          3886        3890           Papa     #Mitford_Geo
25  person          4017        4029   Mr. Macready     #Macready_Wm
26  person          4038        4051  Mr. Talfourd>   #Talfourd_Thos
27  person          4215        4222        Manager              NaN
28   place          4524        4531        England         #England
29   place          4610        4617        England         #England
30  person          4912        4918         Daphne      #Daphne_pet
31  person          5300        5313  M. R. Mitford             #MRM
32  person          5326        5337    Mr. Hofland      #Hofland_TC